<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/client/buscarMaterial.css">
</head>
<body>
    <header class="headerIndexClient">
        <div class="headerIndexClient__logo">
            OpenUni
        </div>
        <nav>
            <ul class="headerIndexClient__navbar">
                <li class="headerIndexClient__navBar-item"><a href="#home" class="headerIndexClient__navbar-link">Login</a></li>
                <li class="headerIndexClient__navBar-item"><a href="#about" class="headerIndexClient__navbar-link">Sign Up</a></li>  
            </ul>
        </nav>
    </header>

    <main class="mainBuscarMaterial">

        <section class="mainBuscarMaterial__seccion1">
            <h2 class="mainBuscarMaterial__titulo">
                Nombre de Universidad Seleccionada
            </h2>
            <div class="mainBuscarMaterial__botonesDescargar">
                <div class="mainBuscarMaterial__botonDescargar-item">
                    Malla Curricular
                </div>
                <div class="mainBuscarMaterial__botonDescargar-item">
                    Sillabus
                </div>
            </div>
        </section>

        <section class="mainBuscarMaterial__seccion2">
            <div class="mainBuscarMaterial__subtitulo">
                Filtrar: 
            </div>

            <div class="mainBuscarMaterial__buscador">
                <div class="mainBuscarMaterial__buscador-item">
                    <h4 class="mainBuscarMaterial__label">
                        Carrera
                    </h4>
                    <select class="mainBuscarMaterial__select" name="" id="">
                        <option value="Selecciona" selected disabled>Selecciona Carrera</option>
                        <option value="Opcion1">Opcion1</option>
                    </select>
                </div>
                <div class="mainBuscarMaterial__buscador-item">
                    <h4 class="mainBuscarMaterial__label">
                        Ciclo
                    </h4>
                    <select class="mainBuscarMaterial__select" name="" id="" >
                        <option value="Selecciona" selected disabled>Selecciona Ciclo</option>
                        <option value="Opcion1">Ciclo I</option>
                    </select>
                </div>
                <div class="mainBuscarMaterial__buscador-item">
                    <h4 class="mainBuscarMaterial__label">
                        Curso
                    </h4>
                    <select class="mainBuscarMaterial__select" name="" id="">
                        <option value="Selecciona" selected disabled>Selecciona Curso</option>
                        <option value="Opcion1">Calculo I</option>
                    </select>
                </div>
                <div class="mainBuscarMaterial__buscador-item">
                    <h4 class="mainBuscarMaterial__label">
                        Profesor
                    </h4>
                    <select class="mainBuscarMaterial__select" name="" id="">
                        <option value="Selecciona" selected disabled>Selecciona Profesor</option>
                        <option value="Opcion1">Jose Luis Rodriguez</option>
                    </select>
                </div>
            </div>

            <div class="mainBuscarMaterial__botonBuscar">
                Buscar
            </div>
        </section>
        
    </main>

</body>
</html>