<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenUni</title>
    <link rel="stylesheet" href="./build/css/index.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

</head>
<body class="bodyIndexClient">
    <header class="headerIndexClient">
        <div class="headerIndexClient__logo">
            OpenUni
        </div>
        <nav>
            <ul class="headerIndexClient__navbar">
                <li class="headerIndexClient__navBar-item"><a href="#home" class="headerIndexClient__navbar-link">Login</a></li>
                <li class="headerIndexClient__navBar-item"><a href="#about" class="headerIndexClient__navbar-link">Sign Up</a></li>  
            </ul>
        </nav>
    </header>

    <main class="mainIndexClient">
        <div class="mainIndexClient__seccion">

            <h2 class="mainIndexClient__subtitulo">Material</h2>

            <div class="mainIndexClient__descripcion">
                <p class="mainIndexClient__parrafo">Busca material de la universidad que desees.</p>
                <p class="mainIndexClient__parrafo">Ubica la carrera de tu interés.</p>
                <p class="mainIndexClient__parrafo">Selecciona el ciclo académico.</p>
                <p class="mainIndexClient__parrafo">¡Obten material según cada profesor!</p>
            </div>

            <a href="/" class="mainIndexClient__botonSiguienteSeccion">
                <div class="mainIndexClient__botonSiguienteSeccion-nombre">
                    Ver Material Academico
                </div>

                <i class="mainIndexClient__botonSiguienteSeccion-icon">
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                </i>
            </a>
        </div>

        <div class="mainIndexClient__seccion">
            <h2 class="mainIndexClient__subtitulo">Profesores</h2>

            <div class="mainIndexClient__descripcion">
                <p class="mainIndexClient__parrafo">Accede a la lista de profesores universitarios.</p>
                <p class="mainIndexClient__parrafo">Visualiza su experiencia, comentarios y material didáctico.</p>
                <p class="mainIndexClient__parrafo">Deja un comentario acerca del trabajo del profesor.</p>
                <p class="mainIndexClient__parrafo">Visualiza los cursos que enseña el profesor.</p>
            </div>

            <a href="/" class="mainIndexClient__botonSiguienteSeccion">
                <div class="mainIndexClient__botonSiguienteSeccion-nombre">
                    Ver Profesores
                </div>
                <i class="mainIndexClient__botonSiguienteSeccion-icon">
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                </i>
            </a>
        </div>
    </main>
</body>
</html>